@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    background-color: #1e202a;
}

h2 {
    color: hsl(220, 13%, 95%);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

h1, h2, h3 {
    line-height: 1.1;
    margin-top: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.25rem;
    color: #fff;
}

header .header_title h1{
    /* width: 100%; */
    /* display: block; */
    font-size: 28px;
    font-weight: 700;
    line-height: 30.8px;
}


h1{
    font-size: 1.5rem;
    margin-bottom: .1875rem;
    margin-top: 2.25rem;
}

header .header_subtitle{
    color: rgb(139, 151, 198);
    font-size: .875rem;
    font-weight: 700;
}

.container{
    margin: 0 auto 2.875rem;
    max-width: 69.375rem;
    padding: 0 1.5625rem;

}

.cards{
    display: grid;
    /* border: 2px solid black; */
    gap: 1.875rem;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    grid-template-columns: repeat(4, 1fr);
    background-color: hsl(234, 21%, 18%);
    border-radius: .3125rem;
    color: #8b97c6;
    cursor: pointer;
    overflow: hidden;
    padding: 1.5625rem;
    position: relative;
    text-align: center;
    transition: background .15s ease-in-out;
}

.card:hover{
    background-color: hsl(230, 27%, 21%);
}

.card--facebook{
    border-top: .3125rem solid #198ff5;
}

.card--twitter{
    border-top: .3125rem solid #1ca0f2;
}

.card--instagram{
    border-top: .3125rem solid hsl(329, 70%, 58%);
}

.card--youtube{
    border-top: .3125rem solid #c4032a;
}

.card_platform{
    display: flex;
    align-items: center;
    height: 1.25rem;
    justify-content: center;
    margin-bottom: 1.75rem;
    margin-top: .3125rem;

}
.card_icon{
    margin-right: .5rem;
}

.card_followers{
    margin-bottom: 1.5625rem;
}

.card_count{
    color: #fff;
    font-weight: 700;
    letter-spacing: -.125rem;
    line-height: 1;
    margin-bottom: .25rem;
}

.card_count--big{
    font-size: 3.5rem;
}

.card_count--small{
    font-size: 2rem;
}

.card_label {
    color: #8b97c6;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .3125rem;
    text-transform: uppercase;
}

.card_change--up {
    color: #1db489;

}

.card_change--down{
    color: #dc414c;
}

.card_change {
    align-items: center;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    justify-content: center;
}

.card-grid {
    display: grid;
    gap: 1.4375rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: start;
}

.card_subtitle{
    color: #8b97c6;
    font-size: .875rem;
    font-weight: 700;
    
}

.card_change {
    align-items: center;
    display: flex;
    font-size: .75rem;
    font-weight: 700;
    justify-content: center;
}

.card-grid .card_change,
.card-grid img{
    justify-self: end;
}

.card-grid .card_change,
.card-grid .card_count{
    align-self: end;
}

.card_change--down{
    color: #dc414c;
}





/* Media query for tablets and smaller desktops */
@media (max-width: 1024px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* 2 cards in a row */
    }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr; /* 1 card per row */
    }
}